@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
 .log{
     display: flex;
     justify-content: space-between;
     color: #FFF;
 }

.child ul li{
    display: inline-block;
    margin-left: 100px;
    position: relative;
    line-height: 70px;
    outline: none;
}
.child ul li a{
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
 
  
}
.rows{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5%;
    }
 

.order{
    color: #fff;
    margin-top: 30%;
    margin-left: 5%;
    padding: 15px 45px;
    background-color: #F19201;
    font-size: 20px;
    border: none;
    border-radius: 3px;
}
.rows h1{
    color: #fff;
    }

.parent{
    background-image: url(images/image2.png);
    background-image: cover;
    background-size: 100%;
}
/*---start of service section*/
.services-section{
    background-color: #E1EBE6;
    align-items: center;
    min-height: 300px;
}
.services{
    text-align: center;
    font-size: 15px;
    padding-top: 2%;
}
.services p{
    font-style: italic;
    font-size: 13px;
    padding-bottom: 3%;
    font-weight: 400;
    }
.services h2{
    font-size: 24px;
    padding-bottom: 15px;
    color: #F19201;
    font-weight: 500;
    }
.service-opt{
    display: flex;
    justify-content: center;
    margin: 10px;
        
}
.one{
    height: 300px;
    border: none;
    margin: 3%;
    overflow: hidden;
    background-color: #FFF;
    align-items: center;
    }
 .one h3{
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    margin: 15px;
    padding: 3pc;

}
.one p{
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    margin: 10px;
    padding-top: 2px;
    font-style: italic;
}


.org-farm{
    font-size: 20px;
    text-align: center;
    color: #FFF;
    
 }
/*----Menu section*/
.menu{
    background-color:#E1EBE6;

  }

.menu-sect h5{
    font-size: 20px;
    text-align: center;
    color: #F19201;
    font-family:'roboto' sans-serif;
    font-weight: 400;
    padding-top: 2%;
    padding-bottom: 10px;
    }
.menu-sect p{
    font-style: italic;
    text-align: center;
    font-size: 15px;
    padding-bottom: 2%;
    font-weight: 400;
}
#chapati{
    display: flex;
    justify-content: flex-start;
    height: 200px;
    width: 450px;
    background-color: #FFF;
    margin:15px;
    padding: 30px;
}
#chapati-img{
    height: 150px;
    width: 150px;
    background-image: url(images/iamge5.png);
    background-size: cover;
}
#chapati-text{
    text-align: center;

}
#chapati-text h6{
    font-size: 24px;
    font-weight: 400;
    padding-top: 3px;
    font-family: 'roboto';
    padding-bottom: 5px;
}
#chapati-text p{
    font-size: 13px;
    text-align: left;
    font-style: italic;
    padding-left: 30px;
}
#chapati-text h4{
    color: #F19201;
    font-weight: 400;
    padding-top: 10px;
}
.btn{
    margin-top: 25px;
    background-color:#E1EBE6;
    font-size: 15px;
    font-weight: 300;
    border:none;
    padding: 10px 30px;

}
#beef-img{
    height: 150px;
    width: 150px;
    background-image: url(images/image4.png);
    background-size: cover;
}   

}
}
.rw{
    display: flex;
    justify-content: center;
}
.rw2{
    display: flex;
    justify-content: center;
}




















 /*footer section*/
 .footer-sect{
    min-height: 50%;
     background-image: url(images/image8.png);
     background-image: cover;
     background-size: 100%;
}
.foot{
    font-size: 50px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
}
.foot h9{
    font-style: italic;
 font-size: 25px;
}
.ft{
    color: #FFF;
    text-align-last: center;
    padding-top: 20%;
}

















