*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
 .log{
     display: flex;
     justify-content: space-between;
     color: #FFF;
 }

.child ul li{
    display: inline-block;
    margin-left: 100px;
    position: relative;
    line-height: 70px;
    outline: none;
      

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
  
}
.rows{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5%;
    }
 

.order{
    color: #fff;
    margin-top: 30%;
    margin-left: 5%;
    padding: 15px 45px;
    background-color: #F19201;
    font-size: 20px;
    border: none;
    border-radius: 3px;
}
.rows h1{
    color: #fff;
    }

.parent{
    background-color: black;
}
/*---start of service section*/







