@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
 .log{
     display: flex;
     justify-content: space-between;
     color: #FFF;
 }

.child ul li{
    display: inline-block;
    margin-left: 100px;
    position: relative;
    line-height: 70px;
    outline: none;
      

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
  
}
.rows{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5%;
    }
 

.order{
    color: #fff;
    margin-top: 30%;
    margin-left: 5%;
    padding: 15px 45px;
    background-color: #F19201;
    font-size: 20px;
    border: none;
    border-radius: 3px;
}
.rows h1{
    color: #fff;
    }

.parent{
    background-image: url(images/image2.png);
    background-image: cover;
    background-size: 100%;
}
/*---start of service section*/
.services-section{
    background-color: #E1EBE6;
    align-items: center;
    min-height: 300px;
}
.services{
    text-align: center;
    font-size: 15px;
    padding-top: 2%;
}
.services p{
    font-style: italic;
    font-size: 18px;
    padding-bottom: 3%;
    }
    .services h2{
        font-size: 30px;
        padding-bottom: 15px;
        color: #F19201;
    }
.service-opt{
    display: flex;
    justify-content: center;
    margin: 10px;
        
}
.one{
    height: 300px;
    border: none;
    margin: 3%;
    overflow: hidden;
    background-color: #FFF;
    align-items: center;
    }
 .one h3{
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    margin: 15px;
    padding: 3pc;

}
.one p{
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    margin: 10px;
    padding-top: 2px;
    font-style: italic;
}





